@font-face {
    font-family: 'NewsCycleRegular';
    src: url('newscycle-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NewsCycleBold';
    src: url('newscycle-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
